/as.html
/assign1.js
/assign12.js
/calculator.css
/calculator.html
/cALCULATOR.JS
/pract.js
/practtice0.js
/task.css
/task2.js
/task3a.html
/task3a.js
/task3b.html
/task3b.js
/task4.css
/task4.html
/task4.js
/to2.css
/to2.html
/to2.js